:root {
  --yellow: #ffcb47;
  --yellow-transparent: #ffcb473d;
  --white: #fff;
  --gray: #909090;
  --black: #202020;
  --black-transparent: #0000000f;

  --family-body: "Montserrat", sans-serif;
  --family-title-spotilight: "Elsie Swash Caps", serif;

  --weight-title-spotilight: 900;
  --weight-btn: 700;
  --weight-spotilight: 700;

  --size-family-body: 1rem;
  --size-family-title: 1.375rem;
  --size-family-title-spotilight: 2rem;
  --size-family-spotilight: 1.375rem;
}
