.btn {
  background-color: var(--yellow);

  text-align: center;
  font-family: inherit;
  font-weight: 700;
  color: var(--white);

  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;

  box-shadow: 10px 10px 30p var(--yellow-transparent);

  border: none;
}

.btn--alternative {
  color: var(--yellow);

  background-color: unset;

  box-shadow: none;

  border: 1px solid var(--yellow);
}
