.header {
  display: flex;
  justify-content: space-between;
  align-items: fix-end;

  box-sizing: border-box;

  width: 100%;

  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

.header__logo {
  width: 11.125rem;
}

.header__cart {
  width: 1.75rem;
}
